/*global styles to remove things that annoy me.*/
/*margin editing done in normalize.css -gs*/
*{
  font-family: Arial, Helvetica, sans-serif;
  outline-style: solid;
  outline-width: 1px;
  outline-color:red;
}
p, ul, ol, h2, h3, h4, h5, h6{
  margin-block-start: 0;
  margin-block-end: 0;
}
ul{
  list-style-type:none;
}
li{
  text-decoration:none;
}

/*body styles*/
#container{
  min-height:500px;
  width:970px;
  background-color:tan;
  margin:auto;
}

